<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="css/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Open+Sans|Russo+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">
    </head>
    <body class="text-center">
        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">            
            <main role="main" class="inner cover">
                <h1 class="cover-heading">Hit or Not</h1>
                <p class="lead">Prediction for K-Pop music videos on YouTube.</p>
                <p class="lead">
                <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
                </p>
            </main>
            
            <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>music.proba.in</p>
            </div>
            </footer>
        </div>
    </body>
</html>