<!doctype html>
<html>
  <meta charset="UTF-8">
  <head>
    <title>Hit or Not</title>
    <script type="text/javascript" src="brython.js"></script>
    <script type="text/javascript" src="brython_stdlib.js"></script>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
  

      </style>

    <!-- Custom styles for this template -->
    <!-- <link href="jumbotron.css" rel="stylesheet">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/jumbotron/"> -->

  </head>
  <body onload="brython(1)">
    <script type="text/python3">
      from browser import document, ajax
      import json
      import warnings

      def show_results(response):
          if response.status==200 or response.status==0:
              document["result"].html = response.text
          else:
              warnings.warn(response.text)
      

      def get_prediction(ev):
          """Get the predicted probability."""
          req = ajax.ajax()
          req.bind('complete', show_results)
          req.open('POST', '/predict', True)
          req.set_header('content-type','application/json')
          data = json.dumps({'user_input': document['user_input'].value})
          req.send(data)

      document["predict_button"].bind("click", get_prediction)
    </script>

    <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Hit or Not?</h1>
          <p class="lead text-muted">This is a simple app to show the prediction of number of view count for Youtube Video</p>
          <p>
            <a href="{{ url_for('detail') }}" class="btn btn-danger my-2">New Video</a>
            <a href="{{ url_for('about') }}" class="btn btn-secondary my-2">More Info</a>
          </p>
        </div>
    </section>


    <div class="album py-5 bg-light">
        <div class="container">
        <div class="row">
          {% for i in range(0, 3) %}
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                  <img src="{{ "https://img.youtube.com/vi/" + last3_video[i]['video_id'] + "/hqdefault.jpg" }}"  class="card-img-top" alt="...">
                  <div class="card-header">{{ last3_video[i]['title'] }}</div>
                  <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="{{ url_for('detail') }}"  class="btn btn-sm btn-outline-secondary">detail</a>
                    </div>
                    <small class="text-muted">123,456,789 views</small>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
          </div>
        </div>
      </div>
    <!-- <textarea id="user_input"></textarea>
    <button id="predict_button">Predict!</button>
    <div id="result"></div> -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
